<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Calculadora - Vamos somar?</title>
</head>
<body>
	<h2>Operação Escolhida: ADIÇÃO</h2>

	<form action="{{ url_for('executar') }}" method="GET">
		<div>
			<label>Número 1:</label>
			<input type="number" name="n1" required>
		</div>

		<div>
			<label>Número 2:</label>
			<input type="number" name="n2" required>
		</div>

		<button type="submit">Calcular</button>
	</form>
</body>
</html>