<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Preço Médio</title>
</head>
<body>
	<h2>Resultado do Cálculo do Preço Médio de sabe-se lá o quê:</h2>

	<p><strong>Operação Escolhida:</strong> {{ operacao }}</p>
	<p><strong>Quantidade:</strong> {{ quantidade }} unidades</p>
	<p><strong>Preço Unitário:</strong> R${{ preco_unitario }}</p>
	<p><strong>Valor Bruto:</strong> R${{ valor_bruto }}</p>
	<p><strong>Valor Líquido:</strong> R${{ valor_liquido }}</p>
</body>
</html>